<Settings res="Resources" db="Database">
	<MaxClients>256</MaxClients>
	<Address>192.168.1.158</Address>
	<Ports>7777:2050</Ports>
	<MaxRealms>2</MaxRealms>
	<TicksPerSecond>10</TicksPerSecond>
<!--Client & Server designed to run at 10TPS, changing that might result in laggy animations/movement-->
</Settings>
